.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.byline {
  color: gray;
}

.byline > address, .byline > time {
  color: gray;
  display: inline-block;
}

#articles {
  background-color: #f2f2f2;
}

#about {
  background-color: #f2f2f2;
}
